@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", serif;
}
progress::-webkit-progress-value {
    transition:all 400ms ease
}
 /* Style for the Monster health bar */
 #monster_health::-webkit-progress-bar {
    background-color: #f9d0d0; /* Light red background for WebKit browsers */
  }

  #monster_health::-webkit-progress-value {
    background-color: rgb(221, 91, 91); /* Red progress value for WebKit browsers */
  }

  #monster_health::-moz-progress-bar {
    background-color: rgb(221, 63, 63); /* Red for Firefox */
  }

  /* Style for the Player health bar */
  #player_health::-webkit-progress-bar {
    background-color: #cce5ff; /* Light blue background for WebKit browsers */
  }

  #player_health::-webkit-progress-value {
    background-color: rgb(37, 145, 233); /* Blue progress value for WebKit browsers */
  }

  #player_health::-moz-progress-bar {
    background-color: rgb(31, 127, 245); /* Blue for Firefox */
  }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    padding: 40px 10px;
    width: 100%;
    background-color: #111111;
    color: #fff;
    overflow: hidden;
}
.header{
    font-size: clamp(20px,12vw,80px);
}

.health_box{
    border-radius: 20px;
    min-height: 200px;
    width: 80%;
    max-width: 350px;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.health_box .health_view{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.health_box .health_view .health_char{
    font-size: 14px;
    letter-spacing: 2px;
}
.health_box .health_view progress{
    width: 100%;
    transition: all 400ms ease
}
.progress_bar {
    width: 100%;
    background-color: #e0e0e0; /* Default color */
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    position: relative;
    transition: background-color 0.5s ease;
  }
  
progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: #42baf1;
    transition: all 400ms ease;
  }

.action_btns{
    width: 80%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
}
.action_btns button{
    flex: 1; background-color: #232323;
    border: none;color: white;
    font-size: 30px;
    display: grid;place-items: center;
    height: 55px;
    border-radius: 8px;
    transition: all 400ms ease;
    cursor: pointer;
    position: relative;
}
.action_btns button::before{
    content: "Attack"; width: 100%;
    position: absolute; font-size: 13px;
    bottom: -30px; text-transform: uppercase;
    letter-spacing: 3px; scale: 0;
    opacity: 0; transition: all 400ms ease;
}
.action_btns button:hover{
    background-color: rgb(55, 55, 55);
}
.action_btns button:hover::before{opacity: 1; scale: 1;
}